/* styles.css */

.label {
    -fx-font-size: 14px;
}

.label.bold {
    -fx-font-weight: bold;
}

#app-details {
    -fx-padding: 10;
    -fx-background-color: #f4f4f4;
    -fx-border-radius: 10; /* Add rounded edges */
}

.app-item {
    -fx-padding: 10;
    -fx-background-color: #ffffff;
    -fx-border-radius: 10; /* Add rounded edges */
    -fx-cursor: hand; /* Change cursor on hover */
}

.app-item:hover {
    -fx-background-color: #eeeeee; /* Change background color on hover */
}

.app-item + .app-item {
    -fx-margin-top: 10; /* Add space between apps */
}

